/* default style used in every page*/
@font-face {
    font-family: sunny-spells;
    src: url(/fonts/sunny-spells-font/SunnyspellsRegular-MV9ze.otf);
}
@font-face {
    font-family: Gloock;
    src: url(/fonts/Gloock/Gloock-Regular.ttf);
}
@font-face {
    font-family: open-sans;
    src: url(/fonts/open-sans/OpenSans-Regular.ttf);
}
:root{
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: Gloock;
    list-style-position: inside;
}
    *{
margin: 0;
padding: 0;
}
body{
    background-image: url(/img/bg.jpg);
}