/*navigation bar used in most of the pages, must include header tag code in html*/
header{
    margin: 1em;
    height: 80px;
    border: 2px solid black;
    border-radius: 100px;
    font-size: 2em;
    display: flex;
    font-family: sunny-spells;
}
.logo{
    border: 2px solid black;
    border-radius: 100px;
}
.nav{
    display: flex;
    height: inherit;
    align-items: center;
}
.nav li{
    list-style: none;
    margin: 1em 2em;
    font-size: 1.5em;
}
@media screen and (max-width: 1024px) {
    .nav{
        width: 100%;
        justify-content: space-around;
    }
    .nav li{
        margin: 0;
        font-size: 35px;
    }    
}